
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# postgresql://<username>:<password>@<hostname>:<port>/<database>

# docker db
DATABASE_URL="postgres://postgres:postgres@localhost:5432/backend-postgres-1"

JWT_SECRET=your-secret-key-here
JWT_TOKEN_AUDIENCE=localhost:3000
JWT_TOKEN_ISSUER=localhost:3000
JWT_ACCESS_TOKEN_TTL=3600

# onrender db
# DATABASE_URL="postgres://phyo_yarzar:W4ntask70nmiGJ9S25HwmGYtW8xwyq0l@dpg-cj36mjh8g3n1jkhrqfm0-a.singapore-postgres.render.com/dtspyz24"

# redis
# REDIS_URL = "rediss://red-cj37ag98g3n1jkhtsp8g:66GcYMRsqgQ6oLCpCHtHAkhXaICHmuOM@singapore-redis.render.com:6379"